<template name="postSubmit">
  <form class="main form page">
    <div class="form-group">
      <label class="control-label" for="title">Заголовок</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="" placeholder="Назовите пост" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="kind">Тип</label>
      <div class="controls">
          <input name="kind" id="kind" type="text" value="1" placeholder="тип" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="descr">Описание</label>
      <div class="controls">
          <input name="descr" id="descr" type="text" value="" placeholder="описание" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="latitude">Широта</label>
      <div class="controls">
          <input name="latitude" id="latitude" type="text" value="" placeholder="широта" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="longtitude">Долгота</label>
      <div class="controls">
          <input name="longtitude" id="longtitude" type="text" value="" placeholder="долгота" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="level">Уровень</label>
      <div class="controls">
          <input name="level" id="level" type="text" value="" placeholder="уровень" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>